body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef3f6;
  font-size: 16px;
  color: #1e1633;
  line-height: 1.4;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1633;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 24px;
  line-height: 1.24;
}
h2 {
  font-size: 22px;
  line-height: 1.216;
}
h3 {
  font-size: 20px;
  line-height: 1.272;
}
h4 {
  font-size: 18px;
  line-height: 1.4;
}
h5 {
  font-size: 16px;
  line-height: 1.41;
}
h6 {
  font-size: 14px;
  line-height: 1.555;
}
p {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  image-rendering: auto;
}
a {
  color: #3482e2;
}
a:hover,
a:visited,
a:active,
a:link {
  color: #3482e2;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
label {
  margin: 0;
}